# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\spring-in-action-5-samples-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
